{% extends 'base.html' %}
{% block title %}Confirm Delete{% endblock %}
<!-- Harshit apply css over this html file like in createevents.html -->
{% block content %}
<div class="form-container">
    <h2>Update Event</h2>
    <p>Fill out the details below to update event.</p>
    <div class="event-card">
            <h3>{{ event.EventName }}</h3>
            <p class="description">{{ event.EventDescription }}</p>
            <hr>
            <p><strong>Venue:</strong> {{ event.EventVenue }}</p>
            <p><strong>Date:</strong> {{ event.EventDate }}</p>
    </div>

    <form action="{% url 'UpdateForm' event.id %}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="button-primary">Submit Event</button>
    </form>
</div>

{% endblock %}